@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    scroll-behavior: smooth;
}

*, *::after, *::before {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: whitesmoke;
     
}

body {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}