
html, body {
    padding: 0;
    margin: 0;
    color:var(--color-font);
    text-align: center;
}
section {
    padding: 0;
    border: 0;
}
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: cal(100vh - 2vh);
}
.notFound img {
    width: 30vw;  
 
}
.notFound h1{
    font-size: 3vh;
}
.text {
    margin-bottom: 2vh;
    height: 50vh;
}

.notFound h2, h3, h4 {
    font-size: 3vh;
}

.text a {
    text-decoration: none;
}
footer {
    position: fixed;
    align-items: left;
    left: 1rem;
    bottom: 1rem;
    font-size: 2vh;
    text-align: left;
}
@media (min-width: 768px) {
    .notFound {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .notFound h2, h3{
        font-size: 4vh;
    }
    .notFound h4 {
        font-size: 3vh;
    }
    .notFound img {
        width: 50vh;  
    }
}