.titles-film {
    font-size: --var(--section-title);
    font-weight: bold
}
.video-text {
    background-color: rgba(0, 0,0, 0.8);
}
.video {
    width:100%; 
}
.section-detail {
    margin-top: 5vh;
}

@media (min-width: 768px) {
    .video-contain {
        display: flex;
        justify-content: center;
    }
    .video {
        width:70%;  
    }
}