@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --color-font: whitesmoke;
    --shadow-size: .12rem;
    --shadow_rgba: rgba(0, 0, 0, 0.5);
    --navbar-size: 8vh;
    --section-title: 1.15rem;
    --chstar-size: 1.5rem;
    --chstar-position: 1%;
    --burger-width: 1.5rem;
    --section-title: 1.15rem;;
}

body, html {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    height: 100%;
    background: url('../img/fondo_netflix_movil.jpeg') no-repeat center fixed;
    background-size: 100% 100%;
}

footer {
    position: relative;
    width: 50%;
    align-items: left;
    left: 1vh;
    bottom: 2vh;
    padding: 1vh;
    font-size: 2vh;
}

section {
    padding: 2rem 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  "Playfair Display", "Times New Roman", Garamond, serif; 
}

a {
    color: var(--color-font);
}

@media (min-width: 768px) {
    body, html {
        background: url('../img/fondo_netflix.jpeg') no-repeat center fixed;
        background-size: 100% 100%;
    }
    .section-title {
        text-align: center;
        font-size: 3vh;
        color: var(--color-font);
        text-shadow: var(--shadow-size)  var(--shadow-size) var(--shadow-size) var(--shadow_rgba),
                     var(--shadow-size) - var(--shadow-size) var(--shadow-size) var(--shadow_rgba),
                   - var(--shadow-size)  var(--shadow-size) var(--shadow-size)  var(--shadow_rgba),
                   - var(--shadow-size) - var(--shadow-size) var(--shadow-size) var(--shadow_rgba);
        height: 5vh;
        width: 50%;
        background-color: rgba(255, 255 ,255, 0.1);
    }

}