.header {
    height: 100vh;
    position: relative;
}

.header-title, .header-subtitle{
    position:absolute ;
    left: 0;
    background-color: rgba(0, 0,0, 0.5);
    padding: 1rem;
}
.header-title {
    bottom: 50%;

}
.header-subtitle{
    top:50%;
    text-shadow: .12rem  .12rem .12rem rgba(0, 0,0, 0.5),
                 .12rem -.12rem .12rem rgba(0, 0,0, 0.5),
                -.12rem  .12rem .12rem rgba(0, 0,0, 0.5),
                -.12rem -.12rem .12rem rgba(0, 0,0, 0.5);
}

@media (min-width: 768px) {
    .header-title {
        left: 20%;
        background-color: transparent;
    
    }
    .header-subtitle{
        left:20%;
        background-color: transparent;
    }
}