body, html {
    height: 100%;
    background: url('../img/fondo_netflix_login.jpeg') no-repeat center fixed;
    background-size: 100% 100%;
    background-size: cover;    
}

.header-login {
    display: flex;
    justify-content: center;
}
.header-login-div{
    width: 50vh;
    text-align: center;
    position: relative;
    top:12vh;
    background-color: rgba(0, 0,0, 0.8);
    font-size: 3vh;
}

.body-div {
    display: grid;
    justify-content: center;
}
.form-div {
padding:6vh;
width: 50vh;
position:relative;
top:12vh;
background-color: rgba(0, 0,0, 0.8);
}
section {
    padding: 0;
    border: 0;
}
.fields, .button .psw-forgot {
    display: flex;
    flex-direction: column;    
}
.fields {
    align-items: center;
}
.button {
    display: flex;
    justify-content: center;
    
}
.psw-forgot {
    display: flex;
    justify-content: center;
}

input[type="email"], input[type="password"] {
    color: black;
    font-size: 2.5vh;
    height: 4.5vh;
    width: 25vh;
   
}
.label-form{
    color: var(--color-font);
    font-size: 2.5vh;
    width: 25vh;
    padding: 0.5vh;
}
.link-psw-forgot {
    text-decoration: none;
    font-size: 2vh;
}
input[type="submit"] {
    height: 5vh;
    width: 25vh;
    background-color: red;
    color: var(--color-font);
    font-weight: bold;
    font-size: 3vh;
    
}
footer {
    position: fixed;
    align-items: left;
    left: 1rem;
    bottom: 1rem;
    font-size: 2vh;
}


