
.movies-grid {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.movies-item img {
    width: 20rem;
    height: 30rem;
    object-fit: right bottom;
}

.movies-item {
    position: relative;
}
.movies-about {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top:75%;
    background-color: rgba(0, 0, 0, .85);
    display: flex;    
}

.content p{
    font-weight:bold;
    margin: 0;
}

#movies-checkbox{
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}

.movies-label {
    position: absolute;
    font-size: 1.5rem;
    color:gray;
    right: 3%;
    top: 1.5%;
    height: 1.3rem;
    width: 1.3rem;
}

.movies-label-select{
    position: absolute;
    font-size: 1.5rem;
    color:gray;
    right: 3%;
    top: 1.5%;
    height: 1.3rem;
    width: 1.3rem;
    display: none;
}

#movies-checkbox:checked ~ .movies-label-select{
    display: flex;
    
}
#movies-checkbox-robin {
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}
#movies-checkbox-robin:checked ~ .movies-label-select{
    display: flex;
}
#movies-checkbox-thor {
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}
#movies-checkbox-thor:checked ~ .movies-label-select{
    display: flex;
}
#movies-checkbox-blade {
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}
#movies-checkbox-blade:checked ~ .movies-label-select{
    display: flex;
}
#movies-checkbox-blade {
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}
#movies-checkbox-blade:checked ~ .movies-label-select{
    display: flex;
}
#movies-checkbox-capi {
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}
#movies-checkbox-capi:checked ~ .movies-label-select{
    display: flex;
}
#movies-checkbox-iron {
    position: absolute;
    right: 1%;
    top:1%;
    display: inline;
    height: 1.5rem;
    width: 1.5rem;
    display: none;
}
#movies-checkbox-iron:checked ~ .movies-label-select{
    display: flex;
}

    
/*#movies-checkbox:hover .movies-label {
    cursor:pointer;
}*/

@media (min-width: 768px) {
    .movies-item img {
        filter: grayscale(100%);
    }
    .movies-item:hover .movies-about {
        opacity: 1;
    }
    .movies-item:hover img {
        filter:none
    }
    .movies-about {
        opacity: 0;
    }
    .section-title {
        text-align: center;
        font-size: 4vh;
        color: white;
        text-shadow: .12rem  .12rem .12rem rgba(0, 0,0, 0.5),
                    .12rem -.12rem .12rem rgba(0, 0,0, 0.5),
                    -.12rem  .12rem .12rem rgba(0, 0,0, 0.5),
                    -.12rem -.12rem .12rem rgba(0, 0,0, 0.5);
        height: 6vh;
        background-color: rgba(255, 255 ,255, 0.5);
       
    }
}

