
@media (min-width: 768px) {

    .section-title {
        text-align: center;
        font-size: 3vh;
        color: var(--color-font);
        text-shadow: .12rem  .12rem .12rem rgba(0, 0,0, 0.5),
                    .12rem -.12rem .12rem rgba(0, 0,0, 0.5),
                    -.12rem  .12rem .12rem rgba(0, 0,0, 0.5),
                    -.12rem -.12rem .12rem rgba(0, 0,0, 0.5);
        height: 4.5vh;
        width: 40%;
        background-color: rgba(255, 255 ,255, 0.1);
        
    }
}